.content1
{
float:left;
width:31%;
padding-left:15px;
padding-bottom:18px;
}
.content2
{
float:left;
width:31%;
padding-left:15px;
padding-bottom:18px;
}
.content3
{
float:left;
width:31%;
padding-left:15px;
padding-bottom:18px;
}